body {
  /* // <uniquifier>: Use a unique and descriptive class name */
  /* // <weight>: Use a value from 300 to 800 */

  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding:0px 150px 0px 150px */
  margin: 0px 200px;
}
.nav_title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.text_primary {
  color: #fd6e0a;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.button_primary {
  border: 0px;
  background-color: #fd6e0a;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 35px;
}
.banner {
  display: flex;
  padding: 30px 30px 0px 200px;
  justify-content: space-between;
  align-items: center;
}
.header {
  /* background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right; */

  background-color: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.profile-pic {
  position: bottom right;
}
.banner_greeting {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #474747;
}
.banner_title {
  font-weight: 700;
  font-size: 85px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner_dec {
  margin-top: 0px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
}
.banner_content {
  max-width: 500px;
}
.button_secondary {
  margin-right: 30px;
}
.button_contact {
  border: 1px solid;
  border-color: #fd6e0a;
  background-color: white;
  border-radius: 5px;
  color: #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 35px;
}
/* header ending */

/* about me sections starting*/
main {
  width: 1140px;
  margin: 0px auto;
}
.about {
  padding: 130px 157px;
  background-color: #fff8f3;
  margin: 130px 0px;
}

.section_title {
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.section_dec {
  width: 827px;
  height: 120px;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  text-align: center;
}
.about_info_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 782px;
  height: 60px; */
  /* justify-content: space-evenly; */
  /* text-align: center; */
  /* padding: 0px auto; */
  /* align-items: center; */
}
.about_info {
  text-align: center;
}
.info_description {
  font-weight: 700;
  font-size: 18px;
}
/* about me ending */

/* what i do */
#what-i-do-dec {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 50px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 0px 50px 10px rgb(238, 237, 237);
}
.skill-title {
  padding: 10px 0px 5px 0px;
}
.skill-dec {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
/* what i do ending */

/* summary section */
#summary-title {
  padding: 130px 0px 50px 0px;
}
.summary {
  display: flex;
  gap: 20px;
}
.course {
  padding: 30px 50px 30px 0px;
  /* border-bottom: 1px solid #d1d1d1; */
}
.summary-field-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  margin: 0px;
}
.course-title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  padding-bottom: 0px;
  margin: 0px;
}
.place-date {
  font-weight: 600;
  font-size: 20px;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0px;
}
.course-dec {
  padding-top: 0px;
  /* padding-bottom: 30px; */
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin: 0px;
}
.underline {
  border-bottom: 1px solid #d1d1d1;
}
.button_center {
  display: flex;
  justify-content: center;
  padding: 20px 0px 100px 0px;
}
.last-button-size {
  width: 200px;
  height: 64px;
}
/* ending summary */



/* footer starting */

/* .footer {
  background-color: #fff8f3;
}
.footer-section {
  margin: 0px auto;
  width: 1140px;
}
.contact {
  padding: 130px 0px;
  
  display: flex;
  gap: 120px;
 
}
.contact-items {
  
}
.contact-icons {
  display: flex;
}
.footer-dec {
  width: 562px;
  height: 56px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-title {
  margin: 0px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.contact-dec {
  font-weight: 400;
  font-size: 16px;
  color: #474747;
}
.footer-icons {
  padding: 0px 25px 0px 0px;
}
#input-text {
  width: 461px;
  height: 64px;
} */
footer{
  background: #fff8f3;
}
.footer-section{
  margin: 0px auto;
  width: 1140px;
  display:flex;
  gap: 100px;
  margin-top: 100px;
  padding: 130px 200px;
}
.footer-column{
  width: 50%;
}
.social-links a{
  margin-right: 23px;
}
.contact-items{
  text-align: start;
  width: auto;
}
.contact input[type="text"],input[type="email"],textarea{
display: block;
margin-bottom: 23px;
padding: 18px 35px;
color: #757575;
background: #ffff;
border: 0;
width: 100%;
}

